@model IEnumerable<Ecommerce.Data.Product>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Product";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><a class="btn btn-info" asp-action="Create" asp-controller="Product">Create</a></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>CategoryName</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>
                                        <td>@item.Description</td>
                                        <td>@item.Category.CategoryName</td>
                                        <td>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a class="btn btn-primary" asp-action="Update" asp-controller="Category" asp-route-productId="@item.Id">Edit</a></li>
                                                <li class="list-inline-item"><a class="btn btn-danger" asp-action="Delete" asp-controller="Category" asp-route-productId="@item.Id">Delete</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>